<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.bean" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/AdminMapper.xml" />
		<mapper resource="mappers/AreaMapper.xml"/>
		<mapper resource="mappers/SeatMapper.xml"/>
		<mapper resource="mappers/OrderMapper.xml"/>

		<mapper resource="mappers/UserMapper.xml" />
	</mappers>
</configuration>
